body {
    margin: 0;
    padding: 0;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    background-color: #d8bfd8;
  }
  
  .invitation {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-family: 'Dancing Script', cursive;
  }
  
  .content {
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 10px; /* Borde redondeado */
    width: 50%; /* Ancho del contenido */
    margin: 50px auto; /* Centrar en la página */
    font-family: 'Dancing Script', cursive;
  }

  .confirm-button {
    background-color: #ff69b4; /* Color rosa */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
  }
  .confirm-button:hover {
    background-color: #d94689; /* Color rosa más oscuro al pasar el ratón */
  }

  #countdown {
    font-size: 18px;
    margin-top: 20px;
    color: #333; /* Color del texto del contador */
  }

  #form-container {
    margin-top: 20px;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    width: 30%;
  }

  #attendance-form {
    display: flex;
    flex-direction: column;
  }
  
  #attendance-form input, #attendance-form button {
    margin-bottom: 10px;
  }

  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Posiciones aleatorias para los globos */
  .balloon:nth-child(1) {
    left: 10%;
    top: 20%;
  }
  
  .balloon:nth-child(2) {
    left: 40%;
    top: 10%;
  }
  
  .balloon:nth-child(3) {
    left: 80%;
    top: 20%;
  }

  .balloon:nth-child(4) {
    left: 20%;
    top: 80%;
  }
  .balloon:nth-child(5) {
    left: 50%;
    top: 80%;
  }
  .balloon:nth-child(6) {
    left: 80%;
    top: 80%;
  }



  .balloon {
    width: 50px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    animation: float 5s infinite ease-in-out; /* Animación de los globos */
  }

  .ballonImg {
    width: 50px;
    height: 70px;
  }
  
  h1 {
    color: #ff69b4;
    font-family: 'Dancing Script', cursive;
  }
  
  p {
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
  }
  